.postLayout{
    padding: 1rem 2rem;
}

.titleContainer{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.postCard{
    margin: 10px 0;
}
.emptyContainer{
    display: grid;
    grid-template-columns:  1fr;
    place-items: center;
}

.title{
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .postLayout{
        padding: .5rem 1rem;
    }
}